extends loggedInLayout 

block content
    
    section(class='loginSection savedBooks')
        -if (messages.exists)
            .message.exists
                span=messages.exists
        h1 Discover
        p #{books.length} books to discover!
        ul
            each book, i in books
                li
                    h3 Title: 
                        p #{book.title}
                    h3 Author:
                        p #{book.author}
                    h3 Genre:
                        p #{book.genre}
                    form(action=`/book/${book._id}` method='POST') 
                        button(name="add" value=`${book._id}`) Add
                    
                    
                    
                    
                
